.data{
  width: 100%;
  height: 400px ;
  background-color: white;
  display: table;
  z-index: 20;
  overflow: hidden;
  position: relative;
}
.data__container{
  display: table-cell;
  vertical-align: middle; 
  padding-top: 120px;
  z-index: 20;
  .data__container_content--background{
    position: absolute;
    width: 100%;
    height: 55%;
    top: 210px;
    background-color: grey;
  }
  .data__container_content{
    position: relative;
    width: 40%;
    top: 100px;
    margin: 0 auto;
    float: left;
    img{
      position: relative;
      width: 114px;
      height: 114px;
      display: block;
      margin: 0;
      left: calc(100% - 170px);
    }
    h1{
      float: left;
      margin: 20px 0 0 0;
      color: black;
      text-align: right;
      width: 100%;
    }
    p{
      float: left;
      margin: 20px 0 0 0;
      color: black;
      text-align: right;
    }
  }
  img{
    position: relative;
    width: 50%;
    float: left;
    margin: 0 0 0 70px;
  }
}
