.introduction{
  width: 100%;
  height: 920px;
  display: table;
  z-index: 20;
  overflow: hidden;
  position: relative;
  &:before {
    // content: "";
    // position: absolute; //could also be absolute
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
    // z-index: 0;
    // background-color: rgba(0,0,0,0.5);
  }
}

.introduction--background{
  position: absolute;
  left: 0;
  top: -10%;
  width: 100%;
  height: 120%;
  z-index: -1;
  background-color: black;
}

.introduction__container{
  background-image: url('../img/01/Background.png');
  background-position: center center;
  @include background-size(cover);
  display: table-cell;
  vertical-align: middle; 
  z-index: 20;
  img{
    position: relative;
    width: 220px;
    display: block;
    vertical-align: middle;
    margin: 0 auto 0 auto;
    left: -73px;    
  }

  h1{
    position: relative;
    width: 570px;
    display: block;
    height: 130px;
    left: 170px;
    z-index: 20;
    text-align: left;
    font: normal 700 40px MikadoRegular;
    margin: 40px auto 0px auto;
    left: 100px;
  }
  p{
    position: relative;
    width: 500px;
    display: block;
    margin: 0 auto;
    left: -5px;
    text-align: left;
    width: 360px;
    line-height: 20px;
  }
  a{
    position: relative;
    margin:70px auto;
    left: -130px;
    display: block;
    color: white;
    background-color: white;
    height: 40px;
    width: 200px;
    border: 1px solid #f0445c;
    @include border-radius(25px,25px);
    // @include box-shadow(#f0445c 0 0 15px);
    h3{
      margin: 0;
      padding: 10px 0 0 0;
      color: #f0445c;
      text-align: center;
      font : normal 400 15px "MikadoRegular";
    }
  }
}
