.keep{
  width: 100%;
  height: 500px ;
  display: table;
  z-index: 20;
  overflow: hidden;
  position: relative;
  background-color: #ea5652;
  .keep__container{
    padding-top: 100px;
    z-index: 20;
    position: relative;
    margin: 0 auto;
    .keep__container__content{
      position: relative;
      margin: 0 auto;
      width: 450px;
      img{
        position: relative;
        width: 114px;
        height: 114px;
        display: block;
        margin: 0;
        left: 0;
      }
      h1{
        float: left;
        margin: 20px 0 0 0;
        color: white;
        text-align: left;
        width: 260px;
      }
      p{
        float: left;
        margin: 20px 0 0 0;
        color: white;
        text-align: left;
        width: 210px;
      }
      input{
        float: left;
        margin: 50px 0 0 0;
        border: none;
        box-shadow: none;
        outline: 0;
        color: white;
        &.email{
          color: white;
          background-color: #f47673;
          border: 1px solid #f69593;
          height: 40px;
          width: 240px;
          border: none;
          @include border-radius(25px,25px);
          // @include box-shadow(#f0445c 0 0 15px);
        }
        &.send__btn{
          color:  #f0445c;
          background-color: white;
          height: 40px;
          width: 150px;
          border: none;
          outline: 0;
          @include border-radius(25px,25px);
          // @include box-shadow(#f0445c 0 0 15px);
        }
      }
    }
  }
}
