.meet{
	width: 100%;
	height: 100px;
	background-color: white;
	display: table;
}
.meet__container{
	display: table-cell;
	vertical-align: middle;
	// height: 100px;
	// p{
	//   width: 100%;
	// }
	background-color: #f0445c;
	img{
		width: 200px;
		height: 50px; 
		margin: 0px 0px 0px 40px;
	}
	ul{
		width: 50%;
		margin: -40px 0px 0 610px;
		li{
			width: 30%;
			display: inline-block;
				a{
				position: relative;
				// margin:80px 440px 0 auto;
				display: block;
				// color: white;
				// background-color: white;
        outline: 0;
        text-decoration: none;
				height: 40px;
				width: 240px;
				// @include border-radius(25px,25px);
				// @include box-shadow(#f0445c 0 0 15px);
				h3{
					margin: 0;
					padding: 10px 0 0 0;
					color: white;
					text-align: center;
					font : normal 400 15px "MikadoRegular";
				}

			}
		}
	}
}
