.online{
  width: 100%;
  height: 880px;
  display: block;
  background-color: white;
  height: 100%;
  display: table;
}

.online__container{
  display: table-cell;
  vertical-align: middle;
  padding-top: 120px;
  img{
    width: 70%;
    float: left;
  } 
  .online__container__content{
    position: relative;
    width: 500px;
    float: left;
    margin: 50px auto 0 auto;
    img{
      position: relative;
      width: 150px;
      height: 134px;
      display: block;
      margin: 80px 0 0 0;
    }
    h1{
      position: relative;
      float: left;
      margin: 20px 0 0 0px;
      width: 360px;
      left: -70px;
    }
    p{
      width: 360px;
      float: left;
      margin: 20px 0 0 -10px;
    }
  }
}
