@font-face {
  font-family: "MikadoBlackItalic";
  src: url('../fonts/hvd_fonts_-_mikadoblack-italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoBlack";
  src: url('../fonts/hvd_fonts_-_mikadoblack-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Mikado";
  src: url('../fonts/hvd_fonts_-_mikadoblack-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoBoldItalic";
  src: url('../fonts/hvd_fonts_-_mikadobold-italic-demo.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoBold";
  src: url('../fonts/hvd_fonts_-_mikadobold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoLightItalic";
  src: url('../fonts/hvd_fonts_-_mikadolight-italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoLight";
  src: url('../fonts/hvd_fonts_-_mikadolight-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoMediumItalic";
  src: url('../fonts/hvd_fonts_-_mikadomedium-italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoMedium";
  src: url('../fonts/hvd_fonts_-_mikadomedium-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoItalic";
  src: url('../fonts/hvd_fonts_-_mikadoregular-italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoRegular";
  src: url('../fonts/hvd_fonts_-_mikadoregular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoUltraItalic";
  src: url('../fonts/hvd_fonts_-_mikadoultra-italic-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "MikadoUltra";
  src: url('../fonts/hvd_fonts_-_mikadoultra-webfont.ttf') format('truetype');
}