.tweets{
  width: 100%;
  height: 400px ;
  // background-image: url(../img/tweets-bg.jpg);
  // background-size: cover;
  // background-position: center center;
  display: table;
  z-index: 20;
  overflow: hidden;
  position: relative;
  background-color: #f0445c;
  // &:before {
  //   content: "";
  //   position: absolute; 
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   z-index: 0;
  //   background-color: rgba(0,0,0,0.5);
  // }
  .tweets__container{
    // display: table-cell;
    // vertical-align: middle; 
    padding-top: 100px;
    z-index: 20;
    position: relative;
    // width: 40%;
    // top: 100px;
    margin: 0 auto;
    .tweets__container__content{
      position: relative;
      margin: 0 auto;
      width: 50%;

      img{
        position: relative;
        width: 114px;
        height: 114px;
        display: block;
        margin: 0;
        left: 0;
      }
      h1{
        float: left;
        margin: 20px 0 0 0;
        color: white;
        text-align: left;
        // width: 100%;
      }
      p{
        float: left;
        margin: 20px 0 0 0;
        color: white;
        text-align: left;
      }
      input{
        float: left;
        margin: 50px 0 0 0;
        &.email{
          color: white;
          background-color:  #F0449C;
          height: 40px;
          width: 240px;
          border: none;
          @include border-radius(25px,25px);
          @include box-shadow(#f0445c 0 0 15px);

        }
        &.send__btn{
          color:  #f0445c;
          background-color: white;
          height: 40px;
          width: 150px;
          @include border-radius(25px,25px);
          @include box-shadow(#f0445c 0 0 15px);

        }
      }
    }
    // float: left;
  
    // ul{ 
    //   position: absolute;
    //   top: 0px;
    //   left: 0px;
    //   width: 100%;
    //   height: 100%;
    //   li{
    //     position: absolute;
    //     top: 70px;
    //     left:0px;
    //     width: 100%;
    //     height: 100%;
    //     hr{
    //       padding-top: 10px;
    //       z-index: 20;
    //     }
    //      h2{
    //       color : white;
    //       z-index: 20;
    //       position: relative;
    //     }
    //     p{
    //       width: 100%;
    //       font : normal 400 24px "ProximaItalic";
    //       color: white;
    //       z-index: 20;
    //     }
    //     .tweets__author{
    //       padding : 50px 0px 50px 0px;
    //       font-size: 16px;
    //       z-index: 20;
    //     }
    //   }
    // }
   
  }
}
