*{
  margin: 0;
  pading: 0;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 20;
  -webkit-font-smoothing: antialiased;
  min-width: 1170px;
  max-width: 1920px;
  margin: 0 auto;
}

h1{
  font : normal 500 30px "MikadoMedium";
  text-align : center;
  color: #132038;
}
h2{
  font : normal 700 20px "MikadoRegular";
  text-transform: uppercase;
  text-align : center;
  z-index: 20;
  color: #132038;
}
h3{
  font : normal 400 18px "MikadoRegular";
  text-align : center;
  color: #132038;
}
h4{
  font : normal 400 15px "MikadoLight";
  text-align : center;
  color: #132038;
}
h5{
  font : normal 400 14px "MikadoLight";
  text-align : center;
  color: #132038;
}
h6{
  font : normal 400 12px "MikadoLight";
  text-align : center;
  color: #132038;
}
p{
  font : normal 400 14px "MikadoRegular";
  color: #aaaaaa;
}
input{
  font : normal 500 15px "MikadoRegular";
}
a{
  font : normal 700 20px "MikadoRegular";
  // text-transform: uppercase;
  text-decoration : none;
  text-align : center;
  z-index: 20;
}
hr{
   position: relative;
   padding: 0;
   margin: 40px auto;
   height: 0;
   width: 60px;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-bottom: 2px solid $orange-color;
}
.text--center{
  position: relative;
  display: block;
  margin : 0 auto 0 auto;
  text-align : center;
  line-height: 37px;
  word-spacing: 5px;
}
.text--left{
  position: relative;
  display: block;
  margin : 0 auto 0 auto;
  text-align : left;
  line-height: 28px;
}
.arrow__btn{
  position: relative;
  margin: 45px auto 0 auto;
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid $orange-color;
  cursor: pointer;
}
.arrow__btn svg{
  color: $orange-color;
  fill: currentColor;
}
.clear{
  clear: both;
  display: block;
}
.colored{
  color : $orange-color;
}

.hide{
  display: none !important;
}