doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= "HEP ! "
    meta(name="viewport", content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="stylesheet", href="css/main.css")
    link(rel='shortcut icon', href='/img/01/Logo_hep.png', type='image/x-icon')
    
  body
    .introduction(data-scroll-offset="0")
      .introduction--background
      .introduction__container.hide
        img(src="img/01/Logo_hep.png")
        h1 Identifiez un problème avant qu'il n'en devienne réelement un
        p
          | Hep vous permet d'interagir de façon interactive avec
          | votre classe tout en identifiant en temps réel &
          | façon silencieuse les élèves en difficulté.
        a(href)
          h3 Decouvrir la video
    .menu(data-scroll-offset="800")
      .menu__container
        img(src="img/01/logo_blanc.svg" alt="Logo HEP")
        ul
          li
            a(href)
              h3 Comment ça marche ? 
          li
            a(href)
              h3 Qui sommes nous 
          li
            a(href)
              h3 S'inscrire 
    //- .video(data-scroll-offset="1070")
    //-   .video--container
    //-     include templates/svgPlay
    //-     include templates/svgPause
    //-     video.fillWidth(loop='')
    //-       source(src='/video/startuppreview.mp4', type='video/mp4')
    //-       | Your browser does not support the video tag. I suggest you upgrade your browser.


    //- a virer
    .online(data-scroll-offset="870")
      .online__container
        img(src="img/02/Ipad_Cours.png")
        .online__container__content
          img(src="img/02/icone_cours.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | Hep ! intègre des fiches interactives directement préparés 
            | pour vos cours, rien ne vous empêche de les augmenter 
            | avec vos documents personnels ! Grâce à notre plateforme 
            | en ligne, ils sont ainsi disponibles de n'importe où !
          .clear
        .clear

    .control(data-scroll-offset="1600")
      .control__container
        .control__container__content_left
          img(src="img/03/Icone_Interactif.png")
          h1 Captivez vos élèves sans perdre le contrôle !
          p 
            | Une seul écran contrôle le cours, le vôtre. 
            | Envoyez, gérez et contrôlez l'ensemble 
            | des tablettes de vos élèves.
          .clear
        .control__container__content_right
          img(src="img/03/interactif_eleve_ipad.png")
          .looper
            img(src="img/03/interactif_prof_ipad.png")


    .real-time(data-scroll-offset="2400")
      .real-time__container
        .real-time__container_top
          img(src="img/04/Ipad_prof.png")
          img(src="img/04/Ipad_eleve.png")
          .clear
        .real-time__container_bottom
          img(src="img/04/Identification_picto.png")
          h1 Suivez en temps réel l’apprentissage de la classe
          p 
            | Grâce aux exercices interactifs,
            | suivez et identifiez les élèves qui ont des difficultés.
          .clear
      
    .data(data-scroll-offset="3600")
      .data__container
        .data__container_content--background
        .data__container_content
          img(src="img/05/picto_identifiez.png")
          h1 Identifiez les élèves en difficulté
          p 
            | Hep! vous informe de la compréhension globale 
            | de la classe . Identifiez de façon personnalisé les 
            | éleves qui recquirent le plus d’attention ! 
          .clear
        img(src="img/05/Classement_Eleves.png")
        .clear

    .groups(data-scroll-offset="4300")
      .groups__container
        img(src="img/06/Groupe_Img.png")
        .groups__container_content
          img(src="img/06/picto_groupe.png")
          h1 Favorisez l’échange de connaissances par groupes homogènes
          p 
            | L’échange notions favorise la connaissance 
            | Hep ! identifie les points positif de chacun pour
            | former la meilleur omgénéité de travail possible !
          .clear
        .clear
        a(href)
          h3 Decouvrir la video

    .keep(data-scroll-offset="5500")
      .keep__container
        .keep__container__content
          h1 Keep in touch ! C’est pour bientot !
          p 
            | Les inscriptions sont actuellement fermées,
            | laissez nous votre e-mail  pour suivre le projet !
          input.email(type='text', placeholder="adress@email.com")
          input.send__btn(type="submit" value="Valider")

    .contact(data-scroll-offset="5900")
      .contact__container
        .contact__container__top
          h1 Qui sommes nous ?
        .contact__container__content
          .contact__container__content--left
            h2 Antoine Charbonnier
            h3 Developpeur
            a(href)
              h3 Say hello
          .contact__container__content--right
            h2 Philippe Neveu
            h3 Graphiste
            a(href)
              h3 Say hello
    .footer(data-scroll-offset="5900")
      .footer__container
        .footer__container--left
          h1 Partenaires
          ul
            li
              h3 Professionels
              img(src="img/08/Logo_editis.png" class="editis")
            li
              h3 Scolaires
              img(src="img/08/Logo_gobelins.png" class="gobelins")
              img(src="img/08/Logo_cci.png" class="cci")                              
        .footer__container--right
          h1 Remerciements
          p 
            | L’ensemble de l’équipe du projet Hep! remerci à l’ensemble de l’équipe
            | pédagogique de Gobelins Paris. Les élèves de la classe de CRMA 1
            | pour leurs retours et leur aide précieuse au bon déroulement du projet.
 

    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js')   

    script(src="http://antoinecharbonnier.fr/GreenSock-ShockinglyGreen-js/src/uncompressed/utils/SplitText.js")
    script(src="http://antoinecharbonnier.fr/GreenSock-ShockinglyGreen-js/src/uncompressed/plugins/ScrambleTextPlugin.js")
    script(src="http://antoinecharbonnier.fr/GreenSock-ShockinglyGreen-js/src/uncompressed/plugins/DrawSVGPlugin.js")
    script(src="js/main.js")
    