doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= "Productor Agency"
    meta(name="viewport", content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="stylesheet", href="css/main.css")
    
  body

    .introduction(data-scroll-offset="0")
      .introduction--background
      .introduction__container.hide
        img(src="img/01/Logo_hep.png")
        h1 Identifiez un problème avant qu'il n'en devienne réelement un
        p
          | Hep vous permet d'interagir de façon interactive avec
          | votre classe tout en identifiant en temps réel &
          | façon silencieuse les élèves en difficulté.
        a(href)
          h3 Decouvrir la video
    .meet(data-scroll-offset="800")
      .meet__container
        img(src="img/01/logo_blanc.svg" alt="Logo HEP")
        ul
          li
            a(href)
              h3 Comment ça marche ? 
          li
            a(href)
              h3 Qui sommes nous 
          li
            a(href)
              h3 S'inscrire 
    .video(data-scroll-offset="1070")
      .video--container
        include templates/svgPlay
        include templates/svgPause
        video.fillWidth(loop='')
          source(src='/video/startuppreview.mp4', type='video/mp4')
          | Your browser does not support the video tag. I suggest you upgrade your browser.

    .service(data-scroll-offset="1670")
      .service__container
        img(src="img/02/Ipad_Cours.png")
        .service__container__content
          img(src="img/02/icone_cours.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
            | tryt iuo ipi iy fdf hhjki iyg ss fhf
            | zzdf d df f dfdfdf dfdfdfd fdfdfd.
          .clear
        .clear

    .check(data-scroll-offset="2570")
      .check__container
        .check__container__content_left
          img(src="img/03/Icone_Interactif.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
            | tryt iuo ipi iy fdf hhjki iyg ss fhf
            | zzdf d df f dfdfdf dfdfdfd fdfdfd.
          .clear
        .check__container__content_right
          img(src="img/03/interactif_eleve_ipad.png")
          .looper
            img(src="img/03/interactif_prof_ipad.png")


    .project(data-scroll-offset="2940")
      .project__container
        .project__container_top
          img(src="img/04/Ipad_prof.png")
          img(src="img/04/Ipad_eleve.png")
          .clear
        .project__container_bottom
          img(src="img/04/Identification_picto.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
            | tryt iuo ipi iy fdf hhjki iyg ss fhf
            | zzdf d df f dfdfdf dfdfdfd fdfdfd.
          .clear
      
    .partners(data-scroll-offset="4051")
      .partners__container
        .partners__container_content
          img(src="img/05/picto_identifiez.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
            | tryt iuo ipi iy fdf hhjki iyg ss fhf
            | zzdf d df f dfdfdf dfdfdfd fdfdfd.
          .clear
        img(src="img/05/Classement_Eleves.png")
        .clear
        //- .partners--background
        //- h2 our partners
        //- hr
        //- ul
        //-   li.partners__addidas
        //-   li.partners__google
        //-   li.partners__samsung
        //-   li.partners__microsoft
        //- .clear

    .about(data-scroll-offset="4800")
      .about__container
        img(src="img/06/Groupe_Img.png")
        .about__container_content
          img(src="img/06/picto_groupe.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
            | tryt iuo ipi iy fdf hhjki iyg ss fhf
            | zzdf d df f dfdfdf dfdfdfd fdfdfd.
          .clear
        .clear

    .tweets(data-scroll-offset="5800")
      .tweets__container
        .tweets__container__content
          //- img(src="img/06/picto_groupe.png")
          h1 Preparez vos cours interactifs en ligne
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
          input.email(type='text', placeholder="adress@email.com")
          input.send__btn(type="submit" value="Valider")

    .contact(data-scroll-offset="6390")
      .contact__container
        .contact__container__top
          h1 Qui sommes nous ?
        .contact__container__content
          .contact__container__content--left
            h2 Antoine Charbonnier
            h3 Developpeur
            a(href)
              h3 Say hello
          .contact__container__content--right
            h2 Philippe Neveu
            h3 Graphiste
            a(href)
              h3 Say hello
    .footer
      .footer__container
        .footer__container--left
          h1 title
          ul
            li
              h3 Subtitle
              img(src="img/08/Logo_editis.png")
            li
              h3 Subtitle
              img(src="img/08/Logo_gobelins.png")
            li
              h3 Subtitle
              img(src="img/08/Logo_cci.png")                              
        .footer__container--right
          h1 title
          p 
            | BLABLABLABLblabalbbalblablablbalbal 
            | ds dsk dskz  ddz ds  f d fd fd fd fd
            | ds dsk dskz  ddz ds  f d fd fd fd fd

      //-   h2.footer__rights
      //-     | 2014 © 
      //-     span.colored= "Arcadia."
      //-     | All Rights Reserved.

      //-   .back__btn
      //-     h2.back__btn__text back to top 
      //-     include templates/svgArrowUp
      //- .clear

    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js')            
    script(src="js/main.js")
    